div.controls, .metrics {
  display: flex;
  justify-content: center;
}
p.controls, button.controls {
  margin: 25px;
}
#board {
  display: grid;
  grid-template:
  200px 200px 200px 200px /
  200px 200px 200px 200px;
  grid-gap: 20px;
}
.card {
  width: 100%;
  height: 100%;
  margin: unset;
}
.face {
  background-color: lightblue;
}
.back {
  background-color: lightgrey;
}
.down {
  display: none;
}
.responsive:hover,
.responsive:focus {
  cursor: pointer;
}
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 200px;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
}
#modal.show {
  display: block;
}
#modal.hide {
  display: none;
}
