body {
  font-family: monospace;
}
#game-board {
  width: fit-content;
  padding-bottom: 125px;
  margin: 25px auto auto 25px;
}
div.header {
  width: fit-content;
}
.header, .controls {
  margin: 10px auto;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
#control-bar-main {
  display: grid;
  grid-template-columns:
  25% 12.5% 25% 37.5%;
  margin: 25px 0;
}
button.controls {
  padding: 3px 12px 6px 12px;
  font-family: inherit;
  font-size: 18px;
  border: inherit;
}
.responsive:hover,
.responsive:focus {
  cursor: pointer;
}
#board {
  display: grid;
  grid-template:
  200px 200px 200px 200px /
  200px 200px 200px 200px;
  grid-gap: 20px;
}
.position {
  background-color: whitesmoke;
  box-shadow: 1px 1px 8px grey inset;
}
.card {
  width: 100%;
  height: 100%;
  margin: unset;
}
.face {
  background-color: lightblue;
}
.back {
  background-color: lightgrey;
}
.down {
  display: none;
}
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 40%;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
}
#modal-content {
  width: 20%;
  margin: 0 auto;
  color: white;
}
#control-bar-modal, #metrics {
  display: flex;
  justify-content: center;
}
#metrics {
  font-size: 22px;
}
#game-time::after {
  content: "s";
}
button.no {
  background-color: transparent;
  color: inherit;
}
#modal.show {
  display: block;
}
#modal.hide {
  display: none;
}
